*{
  margin: 0;
  padding: 0;
}
html,body{
  height:100%;
  overflow: hidden;
}
header{
  text-align: center;
  line-height: 40px;
}
.main-container{
  height:100%;
  width: 100%;
}
/*实现内容区域可滚动*/
.main-content-inner{
  position: relative;
  height: 100%;
}
.main-content-wrap{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top:0; 
  overflow: auto; 
}
/*实现内容区域可滚动结束*/

/*左侧详细布局*/
ul li{
  list-style: none;
}
img{
  width:170px;
  height: 170px;
}
ul{
  padding: 9px
}
.personal li,.interests li{
  margin-bottom: 5px;
}
/*左侧详细布局结束*/

/*右侧侧详细布局*/
div span{
  display: inline-block; 
  margin-right: 3%;
}
section {
  margin-bottom: 20px;
  margin-left: 5%;
}
.educational-wrap,.project-wrap,.skill,.certificate-content,.self-assessment-content{
  margin: 15px 0;
  border: 1px #ccc dotted;
  padding: 10px;
}
dl dt{
  padding-top: 5px;
}
dl dd{
  text-indent: 2em;
}
ol li{
  list-style-position: inside;
}
/*右侧侧详细布局结束*/